
x-base: &base
  build:
    context: .
    dockerfile: ./Dockerfile
  stdin_open: true
  tty: true
  volumes:
    - .:/app
    - rails_cache:/app/tmp/cache
    - node_modules:/app/node_modules
  env_file:
    - .env
  environment:
    - DATABASE_HOST=postgres
    - DATABASE_PORT=5432
    - DATABASE_USERNAME=postgres
    - DATABASE_PASSWORD=postgres
    - RAILS_LOG_LEVEL=debug
    - RAILS_ENV=production
    - SOLID_QUEUE_IN_PUMA=true
    - DEFAULT_URL_HOST=www.wartenberger.de
  depends_on:
    postgres:
      condition: service_healthy

services:
  app:
    <<: *base
    # command: bin/rails server -p 3000 -b 0.0.0.0
    ports:
      - '3000:80'
    healthcheck:
      test: curl --fail http://0.0.0.0:80/up || exit 1
      retries: 3
      start_period: 10s

  postgres:
    image: postgres:14-alpine
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432
    healthcheck:
      test: pg_isready -U postgres -h 127.0.0.1
      interval: 5s
volumes:
  postgres:
  bundle:
  rails_cache:
  node_modules:
