%h1= @event.episode_title

= @event.downloaded_at

.card
  .card-body
    %h3.card-title Data
    %p.card-text=debug @event.data.to_hash

.card
  .card-body
    %h3.card-title Geo Data
    %p.card-text=debug @event.geo_data.to_hash


= back_button admin_episodes_path
