- if episode
  .row
    .col-md-12
      .episode-header.bg-dark.text-white.text-center
        %h2.header.text-white.fw-light.display-4
          = episode.title

  .col-md-8.mx-auto.py-4
    - builder = PodloveWebplayerConfigBuilder.new(episode)
    = render "shared/webplayer", webplayer_id: "webplayer-#{episode.to_param}", episode_config: builder.episode_config.to_json.html_safe, player_config: builder.player_config.to_json.html_safe
