- if episode
  .row
    .col-md-12
      .episode-header.bg-dark.text-white.text-center
        %h2.header.text-white.font-weight-light.display-4
          = episode.title
      .site-section.bg-light
        .container-fluid
          = image_tag(episode.artwork_url, class: "rounded mx-auto img-thumbnail img-fluid d-block", size: "1200x1200", alt: "episode artwork")

  .row.bg-light
    .col-md-10.mx-auto
      .player
        = render "shared/webplayer", webplayer_config: PodigeeWebplayerConfigBuilder.new(episode, title: true).to_json
