-# https://docs.podlove.org/podlove-web-player/v5/installation

%div{ id: webplayer_id }
:javascript
  (function() {
    function initPlayer() {
      if (typeof podlovePlayer === "function") {
        podlovePlayer("##{webplayer_id}", #{episode_config}, #{player_config});
      } else {
        setTimeout(initPlayer, 100);
      }
    }
    initPlayer();
  })();
