-# https://github.com/podigee/podigee-podcast-player/blob/master/docs/configuration.md


-# %script.podigee-podcast-player{"data-configuration" => webplayer_config,
-#   :src => "https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js"}


-#  %script{ :src => "https://cdn.podlove.org/web-player/5.x/embed.js" }

#player1

:javascript
  podlovePlayer("#player1", {}, { } )
