- episodes.each do |episode|
  .row
    .col-md-12
      = render "shared/episode", episode: episode

- if next_page
  .infinite-scroll-sentinel{ data: { infinite_scroll_target: "sentinel", url: episodes_path(page: next_page) } }
    .row.justify-content-center
      .col-md-3.text-center.p-4
        .spinner-border.text-secondary{ role: "status" }
          %span.visually-hidden Loading...
