- title = "Alle Episoden"
- content_for(:html_title) { title }
.container-fluid

  .row
    .col-md-12.text-center
      = render "shared/subscribe_buttons"
  .row.mt-3.mb-3.align-items-center.justify-content-center.text-center
    .col-md-8
      %h1.fw-light.mb-2.display-4
        = title

  #episodes-list{ data: { controller: "infinite-scroll" } }
    = render "episodes/page", episodes: @episodes, next_page: @episodes_records.next_page

  %noscript
    .row
      .col-md-3.offset-md-5
        = will_paginate @episodes_records, page_links: false, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: "←", next_label: "→"
