default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV.fetch('DATABASE_HOST', '0.0.0.0') %>
  port: <%= ENV.fetch('DATABASE_PORT', 5432) %>
  username: <%= ENV.fetch("DATABASE_USERNAME", "postgres") %>
  password: <%= ENV.fetch("DATABASE_PASSWORD", "postgresdb") %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  database: <%= ENV.fetch("DATABASE_NAME", "podi_production") %>

development:
  primary: &primary_development
    <<: *default
    database: podi_development
  queue:
    <<: *primary_development
    database: <%= ENV.fetch('DATABASE_NAME_QUEUE', "podi_development_queue") %>
    migrations_paths: db/queue_migrate
  cache:
    <<: *primary_development
    database: <%= ENV.fetch('DATABASE_NAME_CACHE', "podi_development_cache") %>
    migrations_paths: db/cache_migrate

test:
  primary: &primary_test
    <<: *default
    database: podi_test
  queue:
    <<: *primary_test
    database: <%= ENV.fetch('DATABASE_NAME_QUEUE', "podi_test_queue") %>
    migrations_paths: db/queue_migrate
  cache:
    <<: *primary_test
    database: <%= ENV.fetch('DATABASE_NAME_CACHE', "podi_test_cache") %>
    migrations_paths: db/cache_migrate

production:

  primary: &primary_production
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
  queue:
    <<: *primary_production
    database: <%= ENV.fetch('DATABASE_NAME_QUEUE', "podi_production_queue") %>
    migrations_paths: db/queue_migrate
  cache:
    <<: *primary_production
    database: <%= ENV.fetch('DATABASE_NAME_CACHE', "podi_production_cache") %>
    migrations_paths: db/cache_migrate
